[alias]
  pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
	lg = log --color --graph --pretty=format:'%Cgreen%h%Creset%C(yellow)%d%Creset %s %C(dim)(%cr)%Creset %C(bold blue)%an%Creset' --abbrev-commit --all
	pa = fetch --prune
	del = branch -D
[user]
  email = olxu@hotmail.com
  name = Oliver Xu
